@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spinner-animation-speed: 4s;

    --background: 0 0% 98.5%;
    --foreground: 240 10% 3.9%;
    --secondary-background: 240 4% 97.5%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 98.3%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 94.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 96.5%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 93.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 88%;
    --border-contrast: 240 5.9% 83%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 244 10% 8.5%;
    --foreground: 0 0% 95%;
    --secondary-background: 244 10% 9.5%;

    --card: 244 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 244 10% 9%;
    --popover-foreground: 0 10% 90%;

    --primary: 0 0% 98%;
    --primary-foreground: 244 5.9% 10%;

    --secondary: 244 10% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 244 7% 13%;
    --muted-foreground: 244 8% 66.9%;

    --accent: 244 10% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 55% 45%;
    --destructive-foreground: 0 0% 98%;

    --border: 244 10% 20%;
    --border-contrast: 244 10% 27%;
    --input: 244 10% 8%;
    --ring: 244 45% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply overscroll-y-none bg-background text-foreground;
  }

  #spinner {
    animation: spinner-rotate calc(var(--spinner-animation-speed) / 3) linear infinite;
  }

  @keyframes spinner-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner-line {
    animation: dash var(--spinner-animation-speed) ease-in-out infinite;
  }

  @keyframes dash {
    75%,
    100% {
      stroke-dasharray: 0.5, 1;
      stroke-dashoffset: -0.8;
    }
  }
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  @apply !border-l-0 !border-t-0;
}

.rbc-time-slot {
  @apply !border-border !text-muted-foreground;
}

.rbc-timeslot-group {
  @apply !border-y-0 !border-l-0;
}

.rbc-time-view {
  @apply overflow-hidden rounded-lg !border-border;
}

.rbc-time-view > * {
  @apply !border-border;
}

.rbc-today {
  @apply !bg-indigo-100/30;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #e9eaff 0,
    #e9eaff 1px,
    #f5f5ff 0,
    #f5f5ff 50%
  );
}

.dark .rbc-today {
  @apply !bg-indigo-900/30;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #323 0,
    #323 1px,
    hsl(240, 13%, 9.5%) 0,
    hsl(240, 13%, 9.5%) 50%
  );
}

.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor .rbc-addons-dnd-resize-ns-icon {
  @apply !border-primary;
}

.rbc-time-view > * {
  scrollbar-width: 2px !important;
}

.rbc-event {
  @apply !border-none !bg-transparent !p-0 !outline-none focus:!ring;
}

.rbc-event-content {
  @apply !overflow-visible;
}

.rbc-event-label {
  @apply !hidden;
}

.rbc-current-time-indicator {
  @apply !h-0.5 !rounded-lg !bg-red-500;
}
